body{

}
ul{
	list-style-type: none;
	padding: 0;
}
.logo img{
	max-width: 175px ;
}
/*login page */
.card{
	padding-bottom: 30px;
}

.card-login .register-label{
	margin-top: 20px;
}

.login .main-panel{
	width: calc(100%);
}

.sidebar[data-background-color="brown"] .nav li:not(.active) > a:hover{
	color: #ef8157
}
.media{
	display: inline-block;
    float: left;
    margin-right: 25px;
}
.media .btn.btn-icon{
	border-radius: 25px;
    padding: 0px 6px;
}
.product-table .text-right{
	min-width: 124px;
}
.product-table .text-right a.btn-default{
	background: rgb(116, 207, 251);
}
section.register{
	/*background: url("../../assets/img/bg-register.jpg");*/
}

/*customization of modal that show product details*/

.modal-backdrop.fade.in{
	z-index: 0;
}
/*modal-body .name,
.modal-body .description,
.modal-body .size-inch,
.modal-body .size-cm,
.modal-body .color,
.modal-body .composition,
.modal-body .form,
.modal-body .weight,
.modal-body .unit-price,
.modal-body .wholesale-price,
.modal-body .special-price,
.modal-body .wholesale-price,
.modal-body .internet-price,
.modal-body .package,
.modal-body */
.modal-body .name{
    font-size: 20px;
    color: #000;
}
.modal-body .category{
	padding: 13px 0;
    font-size: 17px;
    color: #525252;
}
.modal-body .description{
    font-size: 20px;
    color: #000;
}
.modal-body .list-items ul li{
	padding: 5px 0;
	transition: all 0.5s;
}
.modal-body .list-items ul li:hover{
	padding: 5px 8px;
	color: #ca4918;
	cursor: pointer;
}
div.dataTables_wrapper div.dataTables_filter input:before {
    content: "\f178";
}

div.dataTables_wrapper div.dataTables_filter input{
	border-radius: 20px;
	color: #000;
	-webkit-transition: all 1s ease-in-out;;
	transition: all 1s ease-in-out;
}
div.dataTables_wrapper div.dataTables_length select{
	min-width: 91px;
}
div.dataTables_wrapper div.dataTables_filter input:focus{
	  width: 330px;
	  box-sizing: border-box;
	  border: 1px solid rgb(54, 65, 80);
	  background-color: white;
	  background-image: url('searchicon.png');
	  background-position: 10px 10px;
	  background-repeat: no-repeat;
	  -webkit-transition: all .5s ease-in-out;
	  transition: all .5s ease-in-out;
}
select.input-sm {
    height: 35px;
    line-height: 35px;
}
.filter{
	margin-bottom: 20px;
}
select option.parent-labelle{
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
select option.children-labelle{
	font-size: 14px;
	color: gray;
}

select#productbundle_product_categories optgroup {
    /*border-bottom: 1px dotted gray;*/
    margin-bottom: 15px;
}

select#productbundle_product_categories > option {
    color: #252422;
    font-size: 16px;
    font-weight: bold;
}

select#productbundle_product_categories optgroup option {
    color: #404040;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 3px;
}

/* details produit */
.details .card{
	padding: 35px 22px;
}
.details .detail-hr{
	position: relative;
}
.details span.delimeter:before{
    content: "";
    height: 1px;
    background-color: #b3b3b3;
    position: absolute;
    color: red;
    width: 83%;
    top: -7px;
    right: -4px;
}
.details .item{
	padding: 9px 0;
    color: black;
}
.details .item span{
	font-weight: bold;
}
.details .item .color{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
}
.details span.detail-title{
	font-weight: bold;
    font-size: 18px;
}

.prevent-remove{
	background: #cdcdcd !important;
    cursor: not-allowed;
}
table#datatables thead th{
	color: black;
	padding: 26px 6px;
}

#loading-cat,
#loading-sub-cat,
#loading-prov,
#loading-child-cat{
	display: none;
}

.alert-dismissable .close, 
.alert-dismissible .close
{
	right: 0 !important;
}

.fa-check{
	color: green;
	font-size: 16px;
}

.fa-ban{
	color: red;
	font-size: 16px;
}

.copyright-section{
	color: white;
	padding: 10px 31px;
	position: absolute;
    bottom: 0;
}
.details .card h4 {
	margin-top: 0;
}
.sidebar .logo .simple-text{
	padding: 0;
}

.go-back i{
	font-size: 38px;
}

.card .content .title{
	margin-bottom: 30px;
}

.table > thead > tr > th{
	font-size: 16px;
}
.table a {
	color: #000000;
}