body{

}
ul{
	list-style-type: none;
	padding: 0;
}
/*login page */
.card{
	padding-bottom: 30px;
}
.card-login .register-label{
	margin-top: 20px;
}

.login .main-panel{
	width: calc(100%);
}

.media{
	display: inline-block;
    float: left;
    margin-right: 25px;
}
.media .btn.btn-icon{
	border-radius: 25px;
    padding: 0px 6px;
}
.product-table .text-right{
	min-width: 124px;
}
.product-table .text-right a.btn-default{
	background: rgb(116, 207, 251);
}
section.register{
	background: url("../../assets/img/bg-register.jpg");
}

.modal-backdrop.fade.in{
	z-index: 0;
}
.modal-body .name,
.modal-body .description,
.modal-body .size-inch,
.modal-body .size-cm,
.modal-body .color,
.modal-body .composition,
.modal-body .form,
.modal-body .weight,
.modal-body .unit-price,
.modal-body .wholesale-price,
.modal-body .special-price,
.modal-body .wholesale-price,
.modal-body .internet-price,
.modal-body .package,
.modal-body .provider
{
	padding: 13px 0;
    font-size: 17px;
    color: #525252;
}

.sp-wrap {
	max-width: 500px;
}