<!-- Modal -->
<div id="productModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Product details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="name"></div>
                        <div class="category"></div>
                        <div class="imagesProduct" 
                             data-image-url="{{ asset('uploads/images/') }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="description">   
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-md-5 list-items">
                                <p>Caracteristiques :</p>
                                <ul>
                                    <li class="size-inch"></li>
                                    <li class="size-cm"></li>
                                    <li class="weight"></li>
                                    <li class="color"></li>
                                </ul>
                            </div>
                            <div class="col-md-7 list-items">
                                <p>Prix du produit :</p>
                                <ul>
                                    <li class="unit-price"></li>
                                    <li class="wholesale-price"></li>
                                    <li class="special-price"></li>
                                    <li class="special-price"></li>
                                    <li class="internet-price"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
</div>